html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;

    background: url(img/back.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;

    backdrop-filter: blur(5px);
    padding-left: 20px;

    height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 74vh;
    margin-top: 6vh;
}

#title-text {
    text-align: center;
}

@media screen and (min-width: 1350px) {
    #table-center {
        width: 120vh;
    }
}

@media screen and (min-width: 1200px) {
    .link-holder {
        display: flex;
        width: 45%;
        justify-content: space-between;
    }

    .link-icon {
        width: 82px;
        height: auto;
    }

    #table-center {
        width: 100vh;
    }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .link-holder {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .link-icon {
        width: 72px;
        height: auto;
    }

    #table-center {
        width: 80vh;
    }
}

@media screen and (max-width: 600px) {
    .link-holder {
        display: flex;
        width: 85%;
        justify-content: space-between;
    }

    .link-icon {
        width: 60px;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    #table-center {
        width: 30vh;
    }
}

@media screen and (max-width: 450px) {
    #table-center {
        width: 24vh;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 7vh;
    margin-top: 2vh;
}

.table {
    padding: 0;
    margin: 0;

    height: 7vh;
}

#table-left {
    margin-left: 2vh;
}

#table-right {
    margin-right: 2vh;
}