body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;

    background: url(img/back.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-holder {
    height: fit-content;
}

#title-text {
    text-align: center;
}

#visit-pages-text {
    text-align: center;
    margin-bottom: 20px;
}

.link-text {
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
