body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-text {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.link-li {
    list-style: none;
    text-align: center;
}

.link-text {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}